@charset "utf-8";
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
/* reset css */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, main, nav, section{margin:0; padding:0; border:0;}
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, main, nav, section{display:block;}
html,body{}
body{word-wrap:break-word; word-break:keep-all; color:#333333; line-height:1.6; -webkit-text-size-adjust:none;}
html *{max-height:1000000px;} /* Android tablet bug fix */
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight: normal;}
a{color:#666666; text-decoration: none;}
a,button,input{-webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);}
body,select,input,textarea,button{font-size: 13px;font-family: 'Roboto',"Noto Sans KR","NotoSansKR","Malgun Gothic", "맑은 고딕" , Helvetica, Arial, sans-serif,"Apple Gothic","NotoSans","돋음", "Dotum";vertical-align:middle;}
ol,ul,li{list-style:none;}
label{vertical-align:middle; display:inline-block;}
legend,caption{width:0;height:0; visibility:hidden; font-size:0;line-height:0;}
img{vertical-align:middle; border:none;}
table{border-collapse:collapse; border-spacing:0;}
address,em,i{font-style:normal; }
*,::before,::after{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
*{outline-color: rgb(0 114 255 / 20%);}
::-ms-clear{display: none; }

.hdt{font-size:16px;font-weight: 500;margin-bottom: 20px;color: #aaaaaa;}

.d-flex{display: flex;}


:root{
    --body-bg{background-color: #ffffff;}
}

/* checkbox */
.radio-check{position:relative;display:inline-block;vertical-align:middle;line-height: 1.2;font-size: 14px;min-height: 24px;min-width: 24px;cursor: pointer;}
.radio-check{--check-color: #669aff}
.radio-check+.radio-check{margin-left: 20px;cursor: pointer;}
.radio-check>.txt{display: inline-flex;vertical-align: middle;line-height: 1.3;min-height: 24px;align-items: center;padding: 2px 0px 2px 32px;word-break: break-word;}
.radio-check>.txt:empty{padding-left: 24px;}
.radio-check .tcx{width: 24px;height: 24px;border: rgb(165 165 165 / 50%) solid 1px;border-radius: 4px;content:"";display: inline-block;position: absolute;left: 0px;top: 0px;}
.radio-check>.tcx::before,
.radio-check>.tcx::after{background: #c7c7c7;position: absolute;content:"";display: block;}
.radio-check>.tcx::before{width: 6px;height: 2px;left: 6px;top: 10px;border-radius: 2px 0px 0px 2px;transform: rotate(45deg);transform-origin: left;}
.radio-check>.tcx::after{width: 10px;height: 2px;left: 9px;top: 14px;border-radius: 0px 2px 2px 0px;transform: rotate(-45deg);transform-origin: left;}
.radio-check>input{position:absolute;left:0px;top:0px;padding:0px;z-index: 10;margin: 0;width: 24px;height: 24px;display:inline-block;vertical-align:middle;opacity:0;cursor: pointer;}
.radio-check>input:checked~.tcx {}
.radio-check>input:checked~.tcx::before,
.radio-check>input:checked~.tcx::after{background-color: #ffffff;}
.radio-check>input:checked~.tcx::before{ animation: check-ani  ease 0.2s backwards}
.radio-check>input:checked~.tcx::after{ animation: check-ani 0.2s ease 0.2s backwards}
.radio-check>input:checked~.tcx{background: var(--check-color);border-color: #669aff;}
.radio-check>input:checked~.txt{font-weight: 500;}
.radio-check>input:disabled~.tcx {/* opacity: 0.5; */background-color: #eee;}
.radio-check>input:disabled~.txt { opacity: 0.5; }
.radio-check>input:checked:disabled~.tcx{ background: #8aabebb0; border-color: #8aabebb0; }
.radio-check.round>.tcx{ border-radius: 100%;}
@keyframes check-ani {
    0%{ background-color: transparent; width: 0; }
}

[data-ui="dark"]{ position: absolute; right: 20px; top: 20px; background: no-repeat; border: none; }

body{background-color: var(--body-bg);}
.txt{color: #222222;}

.dark body{background-color: #1a1a1a;}
.dark .txt{color: #dddddd;}
.dark .radio-check>input~.tcx::before,
.dark .radio-check>input~.tcx::after{background-color: #ebebeb;}
.dark .radio-check>input:disabled~.tcx{border: #535353 solid 1px;background: #5d5d5d87;}
.dark .radio-check>input:disabled~.tcx::before,
.dark .radio-check>input:disabled~.tcx::after{background-color: #696969;}
.dark .radio-check>input:checked:disabled~.tcx{background: #669aff4f;border-color: #4d67994f;}


@media (prefers-color-scheme: light) {
}
@media (prefers-color-scheme: dark) {
}

.footer{position: absolute;right: 20px;bottom: 20px;font-size: 15px;}